<h3>User info</h3>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
name <%= @user.name %>
introduction <%= @user.introduction %>

<%= link_to 'edit', edit_user_path %>

<h3>New book</h3>
<%= form_with model: @book_, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :opinion %>
    <%= f.text_area :opinion %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>

<h3>Book detail</h3>
<table>
  <tr>
    <td>
      <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <%= @book.user.name %>
    </td>
    <td>
      <%= @book.title %>
    </td>
    <td>
      <%= @book.opinion %>
    </td>
    <% if @book.user = current_user %>
      <td>
        <%= link_to 'Edit', edit_book_path %>
      </td>
      <td>
        <%= link_to 'destroy', book_path(@book), method: :delete %>
      </td>
    <% end %>
  </tr>
</table>
